* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ROBOTO", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-position: center;
  background-size: cover;
  background-image: url('../img/bg1.jpg');
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.nav .logo {
 display: flex;
 align-items: center;
 margin-bottom: 10px;
}

.nav .logo img {
 width: 6vw;
 margin-right: 2vw;
}

.nav h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  letter-spacing: 0.5rem;
  color: #eee;
  transition: all 0.3s ease;
  z-index: 3;
}

h3.span {
  font-size: 2vw;
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}

a {
  font-size: larger;
  text-decoration: none;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10vh;
  padding: 20px;
  bottom: 0;
  width: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 10;
}

.nav-container img {
  width: 40%;
  margin-bottom: 5px;
}

.nav-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 2vw;
  padding: 10px 0 10px 0;
}

.nav-tab:hover {
  color: #1e1f26;
  background: #c5e9e5;
  transition: all 0.5s ease;
}

.background {
  position: absolute;
  height: 90vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: auto;
}

@media (min-width: 800px) {
  .nav-tab {
    font-size: 3vw;
  }
}

@media (min-width: 360px) {
  .nav-tab {
    font-size: 1.2vw;
  }
}

.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.loader span {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
}
